@model eInvoicing.DTO.GetDocumentResponse
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="subheader py-2 py-lg-6  subheader-transparent " id="kt_subheader">
        <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">

                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold my-1 mr-5">
                        @Model.typeName | @Model.uuid
                    </h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">
                                Documents
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="" class="text-muted">
                                Sent
                            </a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <a href="#" class="btn btn-light-primary font-weight-bolder btn-sm">
                    Actions
                </a>
                <!--end::Actions-->
                <!--begin::Dropdown-->
                <div class="dropdown dropdown-inline" data-toggle="tooltip" title="" data-placement="left" data-original-title="Quick actions">
                    <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="svg-icon svg-icon-success svg-icon-2x">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Files/File-plus.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" fill="#000000"></path>
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right p-0 m-0">
                        <!--begin::Navigation-->
                        <ul class="navi navi-hover">
                            <li class="navi-header font-weight-bold py-4">
                                <span class="font-size-lg">Choose an action:</span>
                                <i class="flaticon2-information icon-md text-muted" data-toggle="tooltip" data-placement="right" title="" data-original-title="Click to learn more..."></i>
                            </li>
                            <li class="navi-separator mb-3 opacity-70"></li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-success">Cancel</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-danger">Get Public Link</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="javascript:;" class="menu-link menu-toggle">
                                    @*<span class="menu-text">Forms & Controls</span><i class="menu-arrow"></i>*@
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-warning">New</span><i class="menu-arrow"></i>
                                    </span>
                                </a>
                                <div class="menu-submenu menu-submenu-classic menu-submenu-right"><ul class="menu-subnav"><li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="menu-link menu-toggle"><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Form Controls</span><i class="menu-arrow"></i></a><div class="menu-submenu menu-submenu-classic menu-submenu-right"><ul class="menu-subnav"><li class="menu-item " aria-haspopup="true"><a href="crud/forms/controls/base.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Base Inputs</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/controls/input-group.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Input Groups</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/controls/checkbox.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Checkbox</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/controls/radio.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Radio</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/controls/switch.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Switch</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/controls/option.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Mega Options</span></a></li></ul></div></li><li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="menu-link menu-toggle"><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Form Widgets</span><i class="menu-arrow"></i></a><div class="menu-submenu menu-submenu-classic menu-submenu-right"><ul class="menu-subnav"><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/bootstrap-datetimepicker.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Datetimepicker</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/bootstrap-datepicker.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Datepicker</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/bootstrap-timepicker.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Timepicker</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/bootstrap-daterangepicker.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Daterangepicker</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/tagify.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Tagify</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/bootstrap-touchspin.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Touchspin</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/bootstrap-maxlength.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Maxlength</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/bootstrap-switch.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Switch</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/bootstrap-multipleselectsplitter.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Multiple Select Splitter</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/bootstrap-select.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Bootstrap Select</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/select2.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Select2</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/typeahead.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Typeahead</span></a></li></ul></div></li><li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="menu-link menu-toggle"><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Form Widgets 2</span><i class="menu-arrow"></i></a><div class="menu-submenu menu-submenu-classic menu-submenu-right"><ul class="menu-subnav"><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/nouislider.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">noUiSlider</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/form-repeater.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Form Repeater</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/ion-range-slider.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Ion Range Slider</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/input-mask.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Input Masks</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/autosize.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Autosize</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/clipboard.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Clipboard</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/widgets/recaptcha.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Google reCaptcha</span></a></li></ul></div></li><li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="menu-link menu-toggle"><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Form Text Editors</span><i class="menu-arrow"></i></a><div class="menu-submenu menu-submenu-classic menu-submenu-right"><ul class="menu-subnav"><li class="menu-item " aria-haspopup="true"><a href="crud/forms/editors/tinymce.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">TinyMCE</span></a></li><li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="menu-link menu-toggle"><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">CKEditor</span><i class="menu-arrow"></i></a><div class="menu-submenu menu-submenu-classic menu-submenu-right"><ul class="menu-subnav"><li class="menu-item " aria-haspopup="true"><a href="crud/forms/editors/ckeditor-classic.html" class="menu-link "><i class="menu-bullet menu-bullet-line"><span></span></i><span class="menu-text">CKEditor Classic</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/editors/ckeditor-inline.html" class="menu-link "><i class="menu-bullet menu-bullet-line"><span></span></i><span class="menu-text">CKEditor Inline</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/editors/ckeditor-balloon.html" class="menu-link "><i class="menu-bullet menu-bullet-line"><span></span></i><span class="menu-text">CKEditor Balloon</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/editors/ckeditor-balloon-block.html" class="menu-link "><i class="menu-bullet menu-bullet-line"><span></span></i><span class="menu-text">CKEditor Balloon Block</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/editors/ckeditor-document.html" class="menu-link "><i class="menu-bullet menu-bullet-line"><span></span></i><span class="menu-text">CKEditor Document</span></a></li></ul></div></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/editors/quill.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Quill Text Editor</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/editors/summernote.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Summernote WYSIWYG</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/editors/bootstrap-markdown.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Markdown Editor</span></a></li></ul></div></li><li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="menu-link menu-toggle"><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Form Layouts</span><i class="menu-arrow"></i></a><div class="menu-submenu menu-submenu-classic menu-submenu-right"><ul class="menu-subnav"><li class="menu-item " aria-haspopup="true"><a href="crud/forms/layouts/default-forms.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Default Forms</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/layouts/multi-column-forms.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Multi Column Forms</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/layouts/action-bars.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Basic Action Bars</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/layouts/sticky-action-bar.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Sticky Action Bar</span></a></li></ul></div></li><li class="menu-item  menu-item-submenu" data-menu-toggle="hover" aria-haspopup="true"><a href="javascript:;" class="menu-link menu-toggle"><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Form Validation</span><i class="menu-arrow"></i></a><div class="menu-submenu menu-submenu-classic menu-submenu-right"><ul class="menu-subnav"><li class="menu-item " aria-haspopup="true"><a href="crud/forms/validation/states.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Validation States</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/validation/form-controls.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Form Controls</span></a></li><li class="menu-item " aria-haspopup="true"><a href="crud/forms/validation/form-widgets.html" class="menu-link "><i class="menu-bullet menu-bullet-dot"><span></span></i><span class="menu-text">Form Widgets</span></a></li></ul></div></li></ul></div>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-primary">Print</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-item">
                                <a href="#" class="navi-link">
                                    <span class="navi-text">
                                        <span class="label label-xl label-inline label-light-dark">Download as</span>
                                    </span>
                                </a>
                            </li>
                            <li class="navi-separator mt-3 opacity-70"></li>
                            <li class="navi-footer py-4">
                                <a class="btn btn-clean font-weight-bold btn-sm" href="#">
                                    <i class="ki ki-plus icon-sm"></i>
                                    Add new
                                </a>
                            </li>
                        </ul>
                        <!--end::Navigation-->
                    </div>
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    @*<div class="card card-custom">
            <div class="card-header card-header-right ribbon ribbon-clip ribbon-left">
                <div class="ribbon-target" style="top: 12px;">
                    <span class="ribbon-inner bg-warning"></span>Ribbon
                </div>
                <h3 class="card-title">Clip Style</h3>
            </div>
            <div class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Inceptos imperdiet magna! Sed fusce fames tempus litora venenatis ad: Ac aliquet leo hendrerit taciti viverra? Nisl suscipit potenti accumsan quis ipsum purus cursus. Suspendisse ultrices morbi in purus lectus dictum porta; Commodo penatibus nec.</div>
        </div>*@

    <div class="card card-custom">
        <div class="card-header card-header-right ribbon ribbon-clip ribbon-left">
            <div class="ribbon-target" style="top: 12px;">
                <span class="ribbon-inner @Model.statusClass"></span>@Model.status
            </div>
            <h3 class="card-title">
                @Model.typeName  <code class="ml-1">@Model.typeVersionName</code>
            </h3>
        </div>
        <!--begin::Form-->
        <form>
            <div class="card-body">
                @*<div class="form-group mb-0">
                        <div class="alert alert-custom alert-default" role="alert">
                            <div class="alert-icon">
                                <span class="@Model.statusClass">@Model.status</span>
                            </div>
                            <div class="alert-text">
                                @Model.typeName
                                <code>@Model.typeVersionName</code>
                            </div>
                        </div>
                    </div>*@
                <div class="form-group row mb-0">
                    <label class="col-2 col-form-label">Internal Id:</label>
                    <label class="col-4 col-form-label">@Model.document.internalID</label>
                    <label class="col-2 col-form-label">ID:</label>
                    <label class="col-4 col-form-label">@Model.uuid</label>

                </div>
                <div class="form-group row mb-0">
                    <label class="col-2 col-form-label">Submission:</label>
                    <label class="col-4 col-form-label">@Model.submissionUUID</label>
                    <label class="col-2 col-form-label">Submission Date:</label>
                    <label class="col-4 col-form-label">@Model.dateTimeReceived</label>
                </div>
                <div class="form-group row mb-0">
                    <label class="col-2 col-form-label">Issuence Date:</label>
                    <label class="col-4 col-form-label">@Model.dateTimeIssued</label>
                </div>
            </div>
        </form>
    </div>

    <ul class="nav nav-tabs nav-tabs-line">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">Summary</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">More Details</a>
        </li>
    </ul>
    @if (Model.status.ToLower() == "invalid" && Model.validationResults != null)
    {
        <div class="card card-custom bg-light-danger mt-2">
            <div class="card-body text-red">
                <ul>
                    @foreach (var item in Model.validationResults.validationSteps.Where(i => i.Error != null)?.FirstOrDefault().Error.innerError.ToList())
                    {
                        <li>@item.error.</li>
                    }
                </ul>
            </div>
        </div>
    }
    <div class="tab-content mt-5" id="myTabContent">
        <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel" aria-labelledby="kt_tab_pane_2">
            <div class="row">
                <div class="col-lg-6 draggable-zone">
                    <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_2">
                        <div class="card-header">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="flaticon2-user text-primary"></i>
                                </span>
                                <h3 class="card-label">Issuer (From)</h3>
                            </div>
                            <div class="card-toolbar">
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                    <i class="ki ki-arrow-down icon-nm"></i>
                                </a>
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                    <i class="ki ki-menu "></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Registration Number</label>
                                        @Html.TextBoxFor(model => model.document.issuer.id, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-6">
                                        <label>Type</label>
                                        @Html.TextBoxFor(model => model.document.issuer.type, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Name</label>
                                        @Html.TextBoxFor(model => model.document.issuer.name, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label>Branch Address</label>
                                        @Html.TextAreaFor(model => model.document.issuer.address.buildingNumber, new { @class = "form-control", @readonly = "readonly", @row = "8" })
                                    </div>
                                    <div class="col-md-4">
                                        <label>Tax Activity Code</label>
                                        @Html.TextAreaFor(model => model.document.taxpayerActivityCode, new { @class = "form-control", @readonly = "readonly", @row = "8" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 draggable-zone">
                    <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_3">
                        <div class="card-header">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="flaticon2-user text-primary"></i>
                                </span>
                                <h3 class="card-label">Receiver (To)</h3>
                            </div>
                            <div class="card-toolbar">
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                    <i class="ki ki-arrow-down icon-nm"></i>
                                </a>
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                    <i class="ki ki-menu "></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body" kt-hidden-height="357" style="">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Registration Number</label>
                                        @Html.TextBoxFor(model => model.document.receiver.id, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-6">
                                        <label>Type</label>
                                        @Html.TextBoxFor(model => model.document.receiver.type, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Name</label>
                                        @Html.TextBoxFor(model => model.document.receiver.name, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Address</label>
                                        @Html.TextAreaFor(model => model.document.receiver.address.buildingNumber, new { @class = "form-control", @readonly = "readonly", @row = "8" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 draggable-zone">
                    <!--begin::Example-->
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_6">
                        <div class="card-header">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="flaticon-squares text-primary"></i>
                                </span>
                                <h3 class="card-label">Line Items</h3>
                            </div>
                            <div class="card-toolbar">
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                    <i class="ki ki-arrow-down icon-nm"></i>
                                </a>
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                    <i class="ki ki-menu "></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body" kt-hidden-height="357" style="">
                            <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                            </div>
                        </div>
                        <!--end::Card-->
                        <!--end::Example-->
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
            <div class="row">
                <div class="col-lg-12 draggable-zone">
                    <!--begin::Example-->
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_4">
                        <div class="card-header">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="flaticon2-file text-primary"></i>
                                </span>
                                <h3 class="card-label">Order Details</h3>
                            </div>
                            <div class="card-toolbar">
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                    <i class="ki ki-arrow-down icon-nm"></i>
                                </a>
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                    <i class="ki ki-menu "></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3 draggable-zone">
                                        <label>Purchase Order Reference</label>
                                        @Html.TextBoxFor(model => model.document.purchaseOrderReference, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-6">
                                        <label>Purchase Order Description</label>
                                        @Html.TextBoxFor(model => model.document.purchaseOrderDescription, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        <label>Internal ID:</label>
                                        @Html.TextBoxFor(model => model.document.internalID, new { @class = "form-control", @readonly = "readonly" })
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Sales Order Reference</label>
                                        @Html.TextBoxFor(model => model.document.salesOrderReference, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-6">
                                        <label>Sales Order Description</label>
                                        @Html.TextBoxFor(model => model.document.salesOrderDescription, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Proforma Invoice Number</label>
                                        @Html.TextBoxFor(model => model.document.proformaInvoiceNumber, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Card-->
                    <!--end::Example-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 draggable-zone">
                    <!--begin::Example-->
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_6">
                        <div class="card-header">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="flaticon2-browser-1 text-primary"></i>
                                </span>
                                <h3 class="card-label">Payment</h3>
                            </div>
                            <div class="card-toolbar">
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                    <i class="ki ki-arrow-down icon-nm"></i>
                                </a>
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                    <i class="ki ki-menu "></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label>Bank Name</label>
                                        @Html.TextBoxFor(model => model.document.payment.bankName, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        <label>Bank Account No.</label>
                                        @Html.TextBoxFor(model => model.document.payment.bankAccountNo, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        <label>Swift Code</label>
                                        @Html.TextBoxFor(model => model.document.payment.swiftCode, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-3">
                                        <label>Bank Account IBAN</label>
                                        @Html.TextBoxFor(model => model.document.payment.bankAccountIBAN, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Bank Address</label>
                                        @Html.TextBoxFor(model => model.document.payment.bankAddress, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-6">
                                        <label>Payment Terms</label>
                                        @Html.TextBoxFor(model => model.document.payment.terms, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Card-->
                    <!--end::Example-->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 draggable-zone">
                    <!--begin::Example-->
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_5">
                        <div class="card-header">
                            <div class="card-title">
                                <span class="card-icon">
                                    <i class="flaticon2-delivery-truck text-primary"></i>
                                </span>
                                <h3 class="card-label">Delivery Information</h3>
                            </div>
                            <div class="card-toolbar">
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                    <i class="ki ki-arrow-down icon-nm"></i>
                                </a>
                                <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                    <i class="ki ki-menu "></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body" kt-hidden-height="357" style="">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Delivery Method</label>
                                        @Html.TextBoxFor(model => model.document.delivery.approach, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col-md-6">
                                        <label>Packaging</label>
                                        @Html.TextBoxFor(model => model.document.delivery.packaging, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <label>Validity Date</label>
                                        @Html.TextBoxFor(model => model.document.delivery.dateValidity, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col">
                                        <label>Export Port</label>
                                        @Html.TextBoxFor(model => model.document.delivery.exportPort, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col">
                                        <label>Country Of Origin</label>
                                        @Html.TextBoxFor(model => model.document.delivery.countryOfOrigin, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col">
                                        <label>Gross Weight</label>
                                        @Html.TextBoxFor(model => model.document.delivery.grossWeight, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                    <div class="col">
                                        <label>Net Weight</label>
                                        @Html.TextBoxFor(model => model.document.delivery.netWeight, new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-6">
                                        <label>Delivery Terms</label>
                                        @Html.TextBoxFor(model => model.document.delivery.terms, new { @class = "form-control", @readonly = "readonly" })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Card-->
                    <!--end::Example-->
                </div>
            </div>
        </div>
    </div>
    <div id="kt_datatable_modal" class="modal fade" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content" style="min-height: 350px;">
                <div class="modal-header py-5">
                    <h5 class="modal-title">
                        Taxable Items
                        <span class="d-block text-muted font-size-sm">Taxes applied for each item</span>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <!--begin: Search Form-->
                    <!--begin::Search Form-->
                    <div class="mb-5">
                        <div class="row align-items-center">
                            <div class="col-lg-9 col-xl-8">
                                <div class="row align-items-center">
                                    <div class="col-md-4 my-2 my-md-0">
                                        <div class="input-icon">
                                            <input type="text" class="form-control" placeholder="Search..." id="kt_datatable_search_query_2" />
                                            <span><i class="flaticon2-search-1 text-muted"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Search Form-->
                    <!--end: Search Form-->
                    <!--begin: Datatable-->
                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable_sub"></div>
                    <!--end: Datatable-->
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="~/Content/assets/js/pages/crud/ktdatatable/base/raw-table.js"></script>
    <script src="~/Content/assets/js/pages/features/cards/tools.js"></script>
    <script src="~/Content/assets/plugins/custom/draggable/draggable.bundle.js"></script>
    <script src="~/Content/assets/js/pages/features/cards/draggable.js"></script>
