


@model eInvoicing.DTO.GetDocumentResponse
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null && ViewBag.IsExist)
{
    <div class="subheader py-2 py-lg-6  subheader-transparent" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <i class="flaticon-information header-icon"></i>

                    <h3 class="text-white icon-title">
                        Details
                    </h3>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index", "Master")" class="text-white">
                                Home
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("received", "document")" class="text-white">
                                Received
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:window.location.reload();" class="text-white">
                                @Model.documentType | @Model.uuid
                            </a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
            </div>
            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::Actions-->
                <a href="#" class="btn btn-primary font-weight-bolder btn-sm">
                    Actions
                </a>
                <!--end::Actions-->
                <!--begin::Dropdown-->
                <div class="dropdown dropdown-inline" data-toggle="tooltip" title="" data-placement="left" data-original-title="Quick actions">
                    <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="svg-icon svg-icon-primary svg-icon-2x">
                            <!--begin::Svg Icon | path:assets/media/svg/icons/Files/File-plus.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                    <path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                                    <path d="M11,14 L9,14 C8.44771525,14 8,13.5522847 8,13 C8,12.4477153 8.44771525,12 9,12 L11,12 L11,10 C11,9.44771525 11.4477153,9 12,9 C12.5522847,9 13,9.44771525 13,10 L13,12 L15,12 C15.5522847,12 16,12.4477153 16,13 C16,13.5522847 15.5522847,14 15,14 L13,14 L13,16 C13,16.5522847 12.5522847,17 12,17 C11.4477153,17 11,16.5522847 11,16 L11,14 Z" fill="#000000"></path>
                                </g>
                            </svg><!--end::Svg Icon-->
                        </span>
                    </a>
                    @if (Model.status.ToLower() != "submitted")
                    {
                        if (Guid.TryParse(Model.internalID, out _))
                        {
                            if (Model.status == "Invalid")
                            {
                                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right p-0 m-0">
                                    <!--begin::Navigation-->
                                    <ul class="navi navi-hover">
                                        <li class="navi-header font-weight-bolder text-uppercase font-size-xs text-primary pb-2">
                                            Choose an action:
                                        </li>
                                        <li class="navi-item">
                                            <a href="/efatorty/v1/document/printout?uuid=@Model.uuid" onclick="ShowSpinner()" class="navi-link">
                                                <span class="navi-icon"><i class="la la-download"></i></span>
                                                <span class="navi-text">Download</span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="/efatorty/v1/document/print?uuid=@Model.uuid" target="_blank" class="navi-link">
                                                <span class="navi-icon"><i class="la la-print"></i></span>
                                                <span class="navi-text">Print</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--end::Navigation-->
                                </div>
                            }
                            else
                            {
                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right p-0 m-0">
                                    <!--begin::Navigation-->
                                    <ul class="navi navi-hover">
                                        <li class="navi-item">
                                            <a href="/efatorty/v1/document/printout?uuid=@Model.uuid" onclick="ShowSpinner()" class="navi-link">
                                                <span class="navi-icon"><i class="la la-download"></i></span>
                                                <span class="navi-text">Download</span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="/efatorty/v1/document/print?uuid=@Model.uuid" target="_blank" class="navi-link">
                                                <span class="navi-icon"><i class="la la-print"></i></span>
                                                <span class="navi-text">Print</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--end::Navigation-->
                                </div>
                            }
                        }
                        else
                        {
                            if (Model.status == "Invalid")
                            {
                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right p-0 m-0">
                                    <!--begin::Navigation-->
                                    <ul class="navi navi-hover">
                                        <li class="navi-item">
                                            <a href="/efatorty/v1/document/printout?uuid=@Model.uuid" onclick="ShowSpinner()" class="navi-link">
                                                <span class="navi-icon"><i class="la la-download"></i></span>
                                                <span class="navi-text">Download</span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="/efatorty/v1/document/print?uuid=@Model.uuid" target="_blank" class="navi-link">
                                                <span class="navi-icon"><i class="la la-print"></i></span>
                                                <span class="navi-text">Print</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--end::Navigation-->
                                </div>
                            }
                            else
                            {
                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right p-0 m-0">
                                    <!--begin::Navigation-->
                                    <ul class="navi navi-hover">
                                        <li class="navi-item">
                                            <a href="/efatorty/v1/document/printout?uuid=@Model.uuid" onclick="ShowSpinner()" class="navi-link">
                                                <span class="navi-icon"><i class="la la-download"></i></span>
                                                <span class="navi-text">Download</span>
                                            </a>
                                        </li>
                                        <li class="navi-item">
                                            <a href="/efatorty/v1/document/print?uuid=@Model.uuid" target="_blank" class="navi-link">
                                                <span class="navi-icon"><i class="la la-print"></i></span>
                                                <span class="navi-text">Print</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <!--end::Navigation-->
                                </div>
                            }
                        }
                    }
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container-fluid mt-65">
            <div class="card card-custom">
                <div class="card-header bg-light card-header-right ribbon ribbon-clip ribbon-left">
                    @if (!string.IsNullOrEmpty(Model.cancelRequestDate.ToString()) && Model.status.ToLower() == "valid")
                    {
                        <div class="ribbon-target" style="top: 12px;">
                            <span class="ribbon-inner bg-dark"></span>Valid <br /> <i class="la la-arrow-right"></i> Cancelled
                        </div>
                    }
                    else
                    {
                        <div class="ribbon-target" style="top: 12px;">
                            <span class="ribbon-inner @Model.statusClass"></span>@Model.status
                        </div>
                    }
                    <h3 class="card-title">
                        @Model.documentType  <code class="ml-1">@Model.documentTypeVersion</code>
                    </h3>
                </div>
                <!--begin::Form-->
                <form>
                    <div class="card-body">
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">Internal Id:</label>
                            <label class="col-4 col-form-label">@Model.internalID</label>
                            <label class="col-2 col-form-label">ID:</label>
                            <label class="col-4 col-form-label">@Model.uuid</label>

                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">Submission:</label>
                            <label class="col-4 col-form-label">@Model.submissionUUID</label>
                            <label class="col-2 col-form-label">Submission Date:</label>
                            <label class="col-4 col-form-label">@Model.dateTimeRecevied</label>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-2 col-form-label">Issuence Date:</label>
                            <label class="col-4 col-form-label">@Model.dateTimeIssued</label>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.cancelRequestDate.ToString()) && Model.status.ToLower() == "valid")
                        {
                            <div class="form-group row mb-0">
                                <label class="col-2 col-form-label">Cancellation Reason:</label>
                                <label class="col-4 col-form-label">@Model.documentStatusReason</label>
                            </div>
                        }
                    </div>
                </form>
            </div>

            <ul class="nav nav-tabs nav-tabs-line">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">Summary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">More Details</a>
                </li>
            </ul>
            @if (!string.IsNullOrEmpty(Model.cancelRequestDate.ToString()) && Model.status.ToLower() == "valid")
            {
                <div class="card card-custom bg-dark mt-2">
                    <div class="card-body text-white">
                        <ul style="padding:0 !important;">
                            <li style="list-style-type: none !important">
                                <i class="la la-info-circle"></i>  A request to cancel this document has been initiated: @Model.documentStatusReason. | Cancellation will occur on @Model.cancelRequestDelayedDate unless declined by recipient.
                            </li>
                        </ul>
                    </div>
                </div>
            }
            @if (Model.status.ToLower() == "invalid" && Model.validationResults != null)
            {
                <div class="card card-custom bg-light-danger mt-2">
                    <div class="card-body text-red">
                        <ul>
                            @foreach (var item in Model.validationResults.validationSteps.Where(i => i.Error != null)?.FirstOrDefault().Error.innerError.ToList())
                            {
                                <li>@item.error.</li>
                            }
                        </ul>
                    </div>
                </div>
            }
            <div class="tab-content mt-5" id="myTabContent">
                <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                    <div class="row">
                        <div class="col-lg-6 draggable-zone">
                            <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_2">
                                <div class="card-header bg-light">
                                    <div class="card-title">
                                        <span class="card-icon">
                                            <i class="flaticon2-user text-primary"></i>
                                        </span>
                                        <h3 class="card-label">Issuer (From)</h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                            <i class="ki ki-arrow-down icon-nm"></i>
                                        </a>
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                            <i class="ki ki-menu "></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Registration Number</label>
                                                @Html.TextBoxFor(model => model.issuer.id, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-6">
                                                <label>Type</label>
                                                @Html.TextBoxFor(model => model.issuer.type, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Name</label>
                                                @Html.TextBoxFor(model => model.issuer.name, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <label>Branch Address</label>
                                                @Html.TextAreaFor(model => model.issuer.address.buildingNumber, new { @class = "form-control form-control-solid", @readonly = "readonly", @row = "8" })
                                            </div>
                                            <div class="col-md-4">
                                                <label>Tax Activity Code</label>
                                                @Html.TextAreaFor(model => model.taxpayerActivityCode, new { @class = "form-control form-control-solid", @readonly = "readonly", @row = "8" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 draggable-zone">
                            <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_3">
                                <div class="card-header bg-light">
                                    <div class="card-title">
                                        <span class="card-icon">
                                            <i class="flaticon2-user text-primary"></i>
                                        </span>
                                        <h3 class="card-label">Receiver (To)</h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                            <i class="ki ki-arrow-down icon-nm"></i>
                                        </a>
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                            <i class="ki ki-menu "></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body" kt-hidden-height="357" style="">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Registration Number</label>
                                                @Html.TextBoxFor(model => model.receiver.id, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-6">
                                                <label>Type</label>
                                                @Html.TextBoxFor(model => model.receiver.type, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Name</label>
                                                @Html.TextBoxFor(model => model.receiver.name, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Address</label>
                                                @Html.TextAreaFor(model => model.receiver.address.buildingNumber, new { @class = "form-control form-control-solid", @readonly = "readonly", @row = "8" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12 draggable-zone">
                            <!--begin::Example-->
                            <!--begin::Card-->
                            <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_6">
                                <div class="card-header bg-light">
                                    <div class="card-title">
                                        <span class="card-icon">
                                            <i class="flaticon-squares text-primary"></i>
                                        </span>
                                        <h3 class="card-label">Line Items</h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                            <i class="ki ki-arrow-down icon-nm"></i>
                                        </a>
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                            <i class="ki ki-menu "></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body" kt-hidden-height="357" style="">
                                    <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable">
                                    </div>
                                </div>
                                <!--end::Card-->
                                <!--end::Example-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                    <div class="row">
                        <div class="col-lg-12 draggable-zone">
                            <!--begin::Example-->
                            <!--begin::Card-->
                            <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_4">
                                <div class="card-header bg-light">
                                    <div class="card-title">
                                        <span class="card-icon">
                                            <i class="flaticon2-file text-primary"></i>
                                        </span>
                                        <h3 class="card-label">Order Details</h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                            <i class="ki ki-arrow-down icon-nm"></i>
                                        </a>
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                            <i class="ki ki-menu "></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 draggable-zone">
                                                <label>Purchase Order Reference</label>
                                                @Html.TextBoxFor(model => model.purchaseOrderReference, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-6">
                                                <label>Purchase Order Description</label>
                                                @Html.TextBoxFor(model => model.purchaseOrderDescription, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">
                                                <label>Internal ID:</label>
                                                @Html.TextBoxFor(model => model.internalID, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Sales Order Reference</label>
                                                @Html.TextBoxFor(model => model.salesOrderReference, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-6">
                                                <label>Sales Order Description</label>
                                                @Html.TextBoxFor(model => model.salesOrderDescription, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Proforma Invoice Number</label>
                                                @Html.TextBoxFor(model => model.proformaInvoiceNumber, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Card-->
                            <!--end::Example-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 draggable-zone">
                            <!--begin::Example-->
                            <!--begin::Card-->
                            <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_6">
                                <div class="card-header bg-light">
                                    <div class="card-title">
                                        <span class="card-icon">
                                            <i class="flaticon2-browser-1 text-primary"></i>
                                        </span>
                                        <h3 class="card-label">Payment</h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                            <i class="ki ki-arrow-down icon-nm"></i>
                                        </a>
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                            <i class="ki ki-menu "></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <label>Bank Name</label>
                                                @Html.TextBoxFor(model => model.payment.bankName, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">
                                                <label>Bank Account No.</label>
                                                @Html.TextBoxFor(model => model.payment.bankAccountNo, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">
                                                <label>Swift Code</label>
                                                @Html.TextBoxFor(model => model.payment.swiftCode, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-3">
                                                <label>Bank Account IBAN</label>
                                                @Html.TextBoxFor(model => model.payment.bankAccountIBAN, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Bank Address</label>
                                                @Html.TextBoxFor(model => model.payment.bankAddress, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-6">
                                                <label>Payment Terms</label>
                                                @Html.TextBoxFor(model => model.payment.terms, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Card-->
                            <!--end::Example-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 draggable-zone">
                            <!--begin::Example-->
                            <!--begin::Card-->
                            <div class="card card-custom gutter-b draggable" data-card="true" id="kt_card_5">
                                <div class="card-header bg-light">
                                    <div class="card-title">
                                        <span class="card-icon">
                                            <i class="flaticon2-delivery-truck text-primary"></i>
                                        </span>
                                        <h3 class="card-label">Delivery Information</h3>
                                    </div>
                                    <div class="card-toolbar">
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                                            <i class="ki ki-arrow-down icon-nm"></i>
                                        </a>
                                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary draggable-handle">
                                            <i class="ki ki-menu "></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body" kt-hidden-height="357" style="">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Delivery Method</label>
                                                @Html.TextBoxFor(model => model.delivery.approach, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col-md-6">
                                                <label>Packaging</label>
                                                @Html.TextBoxFor(model => model.delivery.packaging, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col">
                                                <label>Validity Date</label>
                                                @Html.TextBoxFor(model => model.delivery.dateValidity, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col">
                                                <label>Export Port</label>
                                                @Html.TextBoxFor(model => model.delivery.exportPort, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col">
                                                <label>Country Of Origin</label>
                                                @Html.TextBoxFor(model => model.delivery.countryOfOrigin, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col">
                                                <label>Gross Weight</label>
                                                @Html.TextBoxFor(model => model.delivery.grossWeight, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                            <div class="col">
                                                <label>Net Weight</label>
                                                @Html.TextBoxFor(model => model.delivery.netWeight, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">

                                            <div class="col-md-6">
                                                <label>Delivery Terms</label>
                                                @Html.TextBoxFor(model => model.delivery.terms, new { @class = "form-control form-control-solid", @readonly = "readonly" })
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Card-->
                            <!--end::Example-->
                        </div>
                    </div>
                </div>
            </div>
            <div id="kt_datatable_modal" class="modal fade" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content" style="min-height: 350px;">
                        <div class="modal-header py-5">
                            <h5 class="modal-title">
                                Taxable Items
                                <span class="d-block text-muted font-size-sm">Taxes applied for each item</span>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i aria-hidden="true" class="ki ki-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!--begin: Search Form-->
                            <!--begin::Search Form-->
                            <!--<div class="mb-5">
                                <div class="row align-items-center">
                                    <div class="col-lg-9 col-xl-8">
                                        <div class="row align-items-center">
                                            <div class="col-md-4 my-2 my-md-0">
                                                <div class="input-icon">
                                                    <input type="text" class="form-control form-control-solid" placeholder="Search..." id="kt_datatable_search_query_2" />
                                                    <span><i class="flaticon2-search-1 text-muted"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <!--end::Search Form-->
                            <!--end: Search Form-->
                            <!--begin: Datatable-->
                            <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable_sub"></div>
                            <!--end: Datatable-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else if (Model.StatusCode == HttpStatusCode.NotFound || !ViewBag.IsExist)
{
    <div class="subheader py-2 py-lg-6  subheader-transparent" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-1">
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <i class="flaticon-information header-icon"></i>

                    <h3 class="text-white icon-title">
                        NOT FOUND
                    </h3>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index", "Master")" class="text-white">
                                Home
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("received", "document")" class="text-white">
                                Received
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:window.location.reload();" class="text-white">
                                Details
                            </a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column-fluid">
        <div class="container-fluid mt-65">
            <!--<div class="subheader py-2 py-lg-6  subheader-transparent " id="kt_subheader">
                <div class=" container  d-flex align-items-center justify-content-between  flex-wrap flex-sm-nowrap">-->
                    <!--begin::Info-->
                    <!--<div class="d-flex align-items-center flex-wrap mr-1">-->

                        <!--begin::Page Heading-->
                        <!--<div class="d-flex align-items-baseline flex-wrap mr-5">-->
                            <!--begin::Page Title-->
                            <!--<h5 class="text-light font-weight-bold my-1 mr-5">
                                Document is not found
                            </h5>-->
                            <!--end::Page Title-->
                            <!--begin::Breadcrumb-->
                            <!--<ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("Index", "Master")" class="text-light">
                                        Home
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="@Url.Action("submitted", "document")" class="text-light">
                                        Sent
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:window.location.reload();" class="text-light">
                                        Details
                                    </a>
                                </li>
                            </ul>-->
                            <!--end::Breadcrumb-->
                        <!--</div>-->
                        <!--end::Page Heading-->
                    <!--</div>-->
                    <!--end::Info-->
                <!--</div>
            </div>-->
            <div class="d-flex flex-column flex-root">
                <!--begin::Error-->
                <div class="d-flex flex-row-fluid flex-column bgi-size-cover bgi-position-center bgi-no-repeat p-10 p-sm-30" style="background-image: url(~/Content/assets/media/error/bg1.jpg);">
                    <!--begin::Content-->
                    <h1 class="font-weight-boldest text-dark-75 mt-15" style="font-size: 10rem">404</h1>
                    <p class="font-size-h3 text-info font-weight-normal">
                        OOPS! This document has been sent but it is temporarily not found from ETA side.
                    </p>
                    <p class="font-size-h3 text-info font-weight-normal">
                        Please check with the product owner.
                    </p>
                    <!--end::Content-->
                </div>
                <!--end::Error-->
            </div>
        </div>
    </div>
}
else
{
    <div class="d-flex flex-column flex-root">
        <!--begin::Error-->
        <div class="d-flex flex-row-fluid flex-column bgi-size-cover bgi-position-center bgi-no-repeat p-10 p-sm-30" style="background-image: url(~/Content/assets/media/error/bg1.jpg);">
            <!--begin::Content-->
            <h1 class="font-weight-boldest text-dark-75 mt-15" style="font-size: 10rem">404</h1>
            <p class="font-size-h3 text-info font-weight-normal">
                OOPS! Something went wrong. Please check logs.
            </p>
            <!--end::Content-->
        </div>
        <!--end::Error-->
    </div>
}

<script src="~/Content/assets/js/pages/crud/ktdatatable/base/raw-table.js"></script>
<script src="~/Content/assets/js/pages/features/cards/tools.js"></script>
<script src="~/Content/assets/plugins/custom/draggable/draggable.bundle.js"></script>
<script src="~/Content/assets/js/pages/features/cards/draggable.js"></script>
