<div class="container-fluid">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-6  subheader-transparent " id="kt_subheader">
        <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-1">
                <!--begin::Page Heading-->
                <div class="d-flex align-items-baseline flex-wrap mr-5">
                    <!--begin::Page Title-->
                    <h5 class="text-light font-weight-bold my-1 mr-5">
                        Taxpayer Profile
                    </h5>
                    <!--end::Page Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index", "Master")" class="text-muted">
                                Home
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="javascript:window.location.reload();" class="text-muted">
                                Taxpayer Profile
                            </a>
                        </li>
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page Heading-->
            </div>
            <!--end::Info-->
        </div>
        <div class="topbar-item" style="margin-right:25px !important">
            @using System.Security.Claims;
            @using Microsoft.AspNet.Identity;
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a class="btn btn-icon btn-icon-mobile w-auto btn-hover-bg-dark d-flex align-items-center btn-lg px-2" data-toggle="dropdown" role="button" id="kt_quick_user_toggle">
                        <div class="d-flex flex-column text-right pr-3">
                            <span class="text-light font-weight-bold font-size-base d-none d-md-inline mr-1">@User.Identity.GetUserName()</span>
                            <span class="text-light font-weight-bolder font-size-sm d-none d-md-inline" style="text-align: left !important;">@Html.DisplayName(((ClaimsPrincipal)HttpContext.Current.User).FindFirst("Title")?.Value)</span>
                        </div>
                        <span class="symbol symbol-lg-35 symbol-25 symbol-light">
                            <span class="symbol-label font-size-h5 font-weight-bold">@User.Identity.GetUserName().ToUpper().FirstOrDefault()</span>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-left dropdown-menu-icon-list" style="width: 10.5% !important; font-size:smaller !important; top: 3px !important; margin-left: -40px !important;">
                        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">
                            <span class="svg-icon svg-icon-light svg-icon" style="padding-right:inherit">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24" />
                                        <path d="M14.0069431,7.00607258 C13.4546584,7.00607258 13.0069431,6.55855153 13.0069431,6.00650634 C13.0069431,5.45446114 13.4546584,5.00694009 14.0069431,5.00694009 L15.0069431,5.00694009 C17.2160821,5.00694009 19.0069431,6.7970243 19.0069431,9.00520507 L19.0069431,15.001735 C19.0069431,17.2099158 17.2160821,19 15.0069431,19 L3.00694311,19 C0.797804106,19 -0.993056895,17.2099158 -0.993056895,15.001735 L-0.993056895,8.99826498 C-0.993056895,6.7900842 0.797804106,5 3.00694311,5 L4.00694793,5 C4.55923268,5 5.00694793,5.44752105 5.00694793,5.99956624 C5.00694793,6.55161144 4.55923268,6.99913249 4.00694793,6.99913249 L3.00694311,6.99913249 C1.90237361,6.99913249 1.00694311,7.89417459 1.00694311,8.99826498 L1.00694311,15.001735 C1.00694311,16.1058254 1.90237361,17.0008675 3.00694311,17.0008675 L15.0069431,17.0008675 C16.1115126,17.0008675 17.0069431,16.1058254 17.0069431,15.001735 L17.0069431,9.00520507 C17.0069431,7.90111468 16.1115126,7.00607258 15.0069431,7.00607258 L14.0069431,7.00607258 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.006943, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-9.006943, -12.000000) " />
                                        <rect fill="#000000" opacity="0.3" transform="translate(14.000000, 12.000000) rotate(-270.000000) translate(-14.000000, -12.000000) " x="13" y="6" width="2" height="12" rx="1" />
                                        <path d="M21.7928932,9.79289322 C22.1834175,9.40236893 22.8165825,9.40236893 23.2071068,9.79289322 C23.5976311,10.1834175 23.5976311,10.8165825 23.2071068,11.2071068 L20.2071068,14.2071068 C19.8165825,14.5976311 19.1834175,14.5976311 18.7928932,14.2071068 L15.7928932,11.2071068 C15.4023689,10.8165825 15.4023689,10.1834175 15.7928932,9.79289322 C16.1834175,9.40236893 16.8165825,9.40236893 17.2071068,9.79289322 L19.5,12.0857864 L21.7928932,9.79289322 Z" fill="#000000" fill-rule="nonzero" transform="translate(19.500000, 12.000000) rotate(-90.000000) translate(-19.500000, -12.000000) " />
                                    </g>
                                </svg>
                            </span>
                            <span class="menu-text" style="padding-top: 3px;">Sign Out</span>
                        </a>
                    </div>
                }

            }
        </div>
    </div>
    <!--end::Subheader-->
    <div class="row">
        <div class="col-lg-12 draggable-zone">
            <div class="card card-custom gutter-b draggable" data-card="true" id="">
                <div class="card-header bg-light bg-light flex-wrap border-1 pt-6 pb-0">
                    <div class="card-title">
                        <h3 class="card-label">
                            Taxpayer profile
                        </h3>
                    </div>
                    <div class="card-toolbar">
                        <a href="#" class="btn btn-icon btn-sm btn-hover-light-primary mr-1" data-card-tool="toggle" data-toggle="tooltip" data-placement="top" title="" data-original-title="Toggle Card">
                            <i class="ki ki-arrow-down icon-nm"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>License Type</label>
                            <span class="form-control form-control-solid" id="LicenseType"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Created By</label>
                            <span class="form-control form-control-solid" id="CreatedBy"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Taxpayer Name</label>
                            <span class="form-control form-control-solid" id="CompanyEn"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Taxpayer Name (Arabic)</label>
                            <span class="form-control form-control-solid" id="CompanyAr"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>ERP Name</label>
                            <span class="form-control form-control-solid" id="ERP"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Registration Number</label>
                            <span class="form-control form-control-solid" id="RegistrationNumber"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>Registration Date</label>
                            <span class="form-control form-control-solid" id="RegistrationDate"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Client Secret Expiration Date</label>
                            <span class="form-control form-control-solid" id="ClientSecretExpDate"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6">
                            <label>License Creation Date</label>
                            <span class="form-control form-control-solid" id="CreationDate"></span>
                        </div>
                        <div class="col-md-6">
                            <label>License Expiration Date</label>
                            <span class="form-control form-control-solid" id="ExpirationDate"></span>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label>License:</label>
                            <div class="uppy col-md-6" style="left: -15px !important;" id="kt_uppy_5">
                                <div class="uppy-wrapper"></div>
                                <div class="uppy-list"></div>
                                <div class="uppy-status"></div>
                                <div class="uppy-informer uppy-informer-min"></div>
                            </div>
                            <span class="form-text text-muted">Max file size is 1MB and max number of files is 1.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>