@model eInvoicing.DTO.RoleDTO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!--begin::Card-->
            <div class="card card-custom gutter-b example example-compact">
                <div class="card-header">
                    <h3 class="card-title" style="float: left !important">
                        Editing | <span class="ml-1" style="color: #0bb783 !important;"> @Model.Name</span>
                    </h3>
                    <div class="card-toolbar">
                    </div>
                </div>
                <!--begin::Form-->
                <!--begin::Wizard Form-->
                @using (Html.BeginForm("edit", "role", FormMethod.Post, new { @class = "", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="card-body">
                        <!--end::Group-->
                        <div class="form-group row">
                            <div class="col-lg-12 col-xl-9">
                                @Html.HiddenFor(m => m.Id, new { @class = "form-control"})
                            </div>
                        </div>
                        <!--begin::Group-->
                        <div class="form-group row">
                            <div class="col-lg-12 col-xl-9">
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Role Name" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-xl-9">
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Role Description", @rows = "5" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                        <div class="col-lg-12 col-xl-9">
                           
                            @Html.ListBoxFor(model => model.Privileges, ViewBag.Privileges as SelectList, new { @class = "form-control select2", @id = "Privileges", @name = "param", @multiple = "multiple", @placeholder = "Roles" })
                            @Html.ValidationMessageFor(model => model.Privileges, "", new { @class = "text-danger" })
                        </div>
                            <div class="form-group row">
                        <div class="col-lg-12 col-xl-9">
                           
                            @Html.ListBoxFor(model => model.Permissions, ViewBag.Permissions as SelectList, new { @class = "form-control select2", @id = "Permissions", @name = "param", @multiple = "multiple", @placeholder = "Roles" })
                            @Html.ValidationMessageFor(model => model.Permissions, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    </div>
                        <!--end::Group-->
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary mr-2">
                            Save
                        </button>
                        <button type="button" onclick="location.href='@Url.Action("index", "role")'" class="btn btn-secondary">
                            Cancel
                        </button>
                    </div>
                }
                <!--end::Form-->
            </div>
            <!--end::Card-->
        </div>
    </div>
</div>
