@model eInvoicing.DTO.EditModelDTO


<!--begin::Form-->
<!--begin::Wizard Form-->
@using (Html.BeginForm("edit", "user", FormMethod.Post, new { @class = "", role = "form", id = "_editFrm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="card-body">
        <!--begin::Group-->
        <div class="form-group row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)
        </div>
        <div class="form-group row">
            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control form-control-solid form-control-lg", @placeholder = "First Name" })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
        <!--end::Group-->
        <!--begin::Group-->
        <div class="form-group row">
            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control form-control-solid form-control-lg", @placeholder = "Last Name" })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
        <!--end::Group-->
        <!--begin::Group-->
        <div class="form-group row">
            <div class="input-group input-group-solid input-group-lg">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-solid form-control-lg", @placeholder = "Email", @type = "email" })
            </div>
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <!--end::Group-->
        <!--begin::Group-->
        <div class="form-group row">
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control form-control-solid form-control-lg", @placeholder = "Title" })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            <div class="input-group input-group-solid input-group-lg">
                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control form-control-solid form-control-lg", @placeholder = "Phone Number" })
                @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row">
            @Html.ListBoxFor(model => model.Roles, ViewBag.Roles as SelectList, new { @class = "form-control select2", @id = "kt_select2_3", @name = "param", @multiple = "multiple", @placeholder = "Roles" })
            @Html.ValidationMessageFor(model => model.Roles, "", new { @class = "text-danger" })
        </div>
        <!--end::Group-->
    </div>
}
<!--end::Form-->
<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Content/assets/js/pages/crud/forms/widgets/select2.js"></script>
