@using eInvoicing.Web.Models
@model LoginViewModel
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <title>E فاتورتي</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="~/Content/assets/css/pages/login/classic/login-4.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/global/fonts/webfontkit-20220214-155632/stylesheet_reg.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/global/plugins.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/custom/prismjs/prismjs.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/css/style.bundle.css?v=7.0.6" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" />
    <style>
        .validation-summary-errors li {
            display: block !important;
        }
        .login-pg {
            background-color: #f0f2f5;
        }
        .login-signin {
            
           
        }
        .login-form {
            background-color: #ffffff;
            border-bottom: 3px solid #f9f9f9;
            width: 500px;
            height: 460px;
           /* margin: 130px auto;
            box-shadow: 0px 2px 3px 0px rgb(0 0 0 / 20%);
            border-radius: 3px;*/

            border-radius: 8px;
            box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
            margin: auto;
            padding: 0 0 14px 0;
        }
        ._9axz {
            text-align: center;
            font-size: 18px;
            line-height: 22px;
        }

        .login-input {
            font-size: 0.8rem !important;
            border-radius: 0.2rem !important;
            /*border: 1px solid #ccc !important;*/
        }
    </style>
</head>
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled page-loading">
    <div class="d-flex flex-column flex-root">
        <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat login-pg">
                <div class="login-form text-center p-7 position-relative overflow-hidden">
                    <div class="d-flex flex-center mb-5">
                        <a href="#">
                            <img alt="Logo" src="~/Content/images/efatorty_logo.png" />
                        </a>
                    </div>
                    <hr />
                    <div class="d-flex flex-center mb-5">
                        <div><b>Log in to Efatorty </b></div>
                    </div>
                    <div class="login-signin">
                        @using (Html.BeginForm("login", "account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "kt_login_signin_form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.HiddenFor(m => m.ReturnUrl, new
                                {
                                    @value = "@ViewBag['ReturnUrl']"
                                })
                            </div>
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Username, new
                                {
                                    @class = "form-control h-auto form-control py-4 px-8 login-input",
                                    @type = "text",
                                    @placeholder = "Username",
                                    @name = "username",
                                    @autocomplete = "off",
                                    @id = "username"
                                })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new
                                {
                                    @class = "form-control h-auto form-control py-4 px-8 login-input",
                                    @type = "password",
                                    @placeholder = "Password",
                                    @autocomplete = "off",
                                    @name = "password",
                                    @id = "password"
                                })
                            </div>
                            <button id="kt_login_signin_submit" type="button" class="btn btn-primary font-weight-bold">Login <i class="fa fa-sign-in-alt ml-1"></i></button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="footer bg-white py-4 d-flex flex-lg-column " id="kt_footer">
            <div class="container  d-flex flex-column flex-md-row align-items-center justify-content-between">
                <div class="text-dark order-2 order-md-1">
                    <span class="text-muted font-weight-bold mr-2">&copy; @DateTime.Now.Year</span>
                    <a href="javascript:void(0);" target="_blank" class="text-dark-50 text-hover-primary">Accelerate, Inc.</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1200
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "hsl(210, 20%, 98%)",
                        "primary": "#0BB783",
                        "secondary": "#E5EAEE",
                        "success": "#1BC5BD",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#F3F6F9",
                        "dark": "#212121"
                    },
                    "light": {
                        "white": "hsl(210, 20%, 98%)",
                        "primary": "#D7F9EF",
                        "secondary": "#ECF0F3",
                        "success": "#C9F7F5",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#212121",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#ECF0F3",
                    "gray-300": "#E5EAEE",
                    "gray-400": "#D6D6E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#80808F",
                    "gray-700": "#464E5F",
                    "gray-800": "#1B283F",
                    "gray-900": "#212121"
                }
            },
            "font-family": "Poppins"
        };

    </script>
    <script src="~/Content/assets/plugins/global/plugins.bundle.js?v=7.0.6"></script>
    <script src="~/Content/assets/plugins/custom/prismjs/prismjs.bundle.js?v=7.0.6"></script>
    <script src="~/Content/assets/js/scripts.bundle.js?v=7.0.6"></script>
    <script src="~/Content/assets/js/pages/custom/login/login-general.js?v=7.0.6"></script>
    <script src="~/Content/assets/js/pages/features/custom/spinners.js"></script>
</body>
