@model eInvoicing.Web.Models.ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}



<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="~/Content/vendors/images/forgot-password.png" alt="">
        </div>
        <div class="col-md-6">
            <div class="login-box bg-white box-shadow border-radius-10">
                <div class="login-title">
                    <h3 class="text-center text-primary">Reset Password</h3>
                </div>
                <h6 class="mb-20">Enter your new password, confirm and submit</h6>
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Code)
                    <div class="input-group custom">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", @placeholder = "Email", @type = "email" })
                        <div class="input-group-append custom">
                            <span class="input-group-text"><i class="fa fa-envelope-o"></i></span>
                        </div>
                    </div>
                    <div class="input-group custom">
                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-control-lg", @placeholder = "New Password", @type = "password" })
                        <div class="input-group-append custom">
                            <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                        </div>
                    </div>
                    <div class="input-group custom">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-lg", @placeholder = "Confirm Password", @type = "password" })
                        <div class="input-group-append custom">
                            <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="input-group mb-0">
                                <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
